<div class="filters d-flex py-1">
	<div class="slider-container col-lg-8 col-md-8">
		<!-- Fading edges
	<div class="fade-fil fade-left"></div>
	<div class="fade-fil fade-right"></div> -->
		<button class="prev-btn border border-1 shadow-sm z-2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="64"
				height="64"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M15 6l-6 6l6 6" />
			</svg>
		</button>
		<div class="slider-wrapper">
			<div class="slider nav-underline" id="sliderItems">
				<div class="slider-item nav-link active">
					<img src="./icons/filterIcons/farms.jpg" alt="Fil" />
					<span>Farms</span>
				</div>
				<div class="slider-item nav-link">
					<img
						src="https://a0.muscache.com/im/pictures/mediaverse/category_icon/original/3e5243c8-4d15-4c6b-97e3-7ba2bb7bb880.png"
						alt="Fil"
					/>
					<span>Icons</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/rooms.jpg" alt="Fil" />
					<span>Rooms</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/countryside.jpg" alt="Fil" />
					<span>Countryside</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/golfing.jpg" alt="Fil" />
					<span>Golfing</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/trending.jpg" alt="Fil" />
					<span>Trending</span>
				</div>
				<!-- Add more slider items as needed -->
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/amazing_pools.jpg" alt="Fil" />
					<span>Amazing pools</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/amazing_views.jpg" alt="Fil" />
					<span>Amazing views</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/cabins.jpg" alt="Fil" />
					<span>Cabins</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/treehouses.jpg" alt="Fil" />
					<span>Treehouses</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/OMG.jpg" alt="Fil" />
					<span>OMG!</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/beach.jpg" alt="Fil" />
					<span>Beach</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/historical-homes.jpg" alt="Fil" />
					<span>historical homes</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/mansions.jpg" alt="Fil" />
					<span>Mansions</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/domes.jpg" alt="Fil" />
					<span>Domes</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/parks.jpg" alt="Fil" />
					<span>Parks</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/castles.jpg" alt="Fil" />
					<span>Castles</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/lakefront.jpg" alt="Fil" />
					<span>Lakefront</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/tiny-homes.jpg" alt="Fil" />
					<span>Tiny homes</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/beachfront.jpg" alt="Fil" />
					<span>Beachfront</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/lake.jpg" alt="Fil" />
					<span>Lake</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/island.jpg" alt="Fil" />
					<span>Island</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/design.jpg" alt="Fil" />
					<span>Design</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/off-the-grid.jpg" alt="Fil" />
					<span>Off-the-grid</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/top-of-the-world.jpg" alt="Fil" />
					<span>Top of the world</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/bed&breakfasts.jpg" alt="Fil" />
					<span>Bed & Breakfasts</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/tropical.jpg" alt="Fil" />
					<span>Tropical</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/top-cities.jpg" alt="Fil" />
					<span>Top Cities</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/camping.jpg" alt="Fil" />
					<span>Camping</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/desert.jpg" alt="Fil" />
					<span>Deserts</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/caves.jpg" alt="Fil" />
					<span>Caves</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/a-frames.jpg" alt="Fil" />
					<span>A-frames</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/arctic.jpg" alt="Fil" />
					<span>Arctic</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/boats.jpg" alt="Fil" />
					<span>Boats</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/windmills.jpg" alt="Fil" />
					<span>Windmills</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/towers.jpg" alt="Fil" />
					<span>Towers</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/minsus.jpg" alt="Fil" />
					<span>Minsus</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icons/filterIcons/creative-spaces.jpg" alt="Fil" />
					<span>Creative spaces</span>
				</div>
			</div>
		</div>
		<button class="next-btn border border-1 shadow-sm z-2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="64"
				height="64"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M9 6l6 6l-6 6" />
			</svg>
		</button>
	</div>
	<button
		type="button"
		class="btn btn-light border border-1 border-dark-subtle rounded-4 filter-btn px-4 ms-auto"
		data-bs-toggle="modal"
		data-bs-target="#filtersModal"
	>
		<span><i class="fa-solid fa-sliders me-2"></i></span>
		<span>Filters</span>
	</button>
	<div
		class="align-items-center vertical-center d-flex justify-content-center align-items-center border border-1 border-dark-subtle rounded-4 px-4 ms-auto tax-check"
	>
		<div class="form-check form-switch form-check-reverse">
			<input class="form-check-input my-3" type="checkbox" id="taxes" />
			<label class="form-check-label py-3 me-2 mt-1" for="taxes"
				>Display total before taxes</label
			>
		</div>
	</div>
</div>
