<div class="slider-container col-lg-10 mt-3 ms-3">
	<button class="prev-btn border border-1 shadow-sm">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="64"
			height="64"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none" />
			<path d="M15 6l-6 6l6 6" />
		</svg>
	</button>
	<div class="slider-wrapper">
		<div class="slider">
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 1</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 2</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 3</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 4</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 5</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 6</span>
			</div>
			<!-- Add more slider items as needed -->
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter </span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 2</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 3</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 4</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 5</span>
			</div>
			<div class="slider-item">
				<img src="https://via.placeholder.com/50" alt="Fil" />
				<span>Filter 6</span>
			</div>
		</div>
	</div>
	<button class="next-btn border border-1 shadow-sm">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="64"
			height="64"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
		>
			<path stroke="none" d="M0 0h24v24H0z" fill="none" />
			<path d="M9 6l6 6l-6 6" />
		</svg>
	</button>
</div>
