<div class="filters-bar d-flex mt-4">
	<div class="slider-container col-lg-8 col-md-8">
		<!-- Fading edges
	<div class="fade-fil fade-left"></div>
	<div class="fade-fil fade-right"></div> -->
		<button class="prev-btn border border-1 shadow-sm z-2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="64"
				height="64"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M15 6l-6 6l6 6" />
			</svg>
		</button>
		<div class="slider-wrapper">
			<div class="slider nav-underline">
				<div class="slider-item nav-link active">
					<img src="./icon/farms.jpg" alt="Fil" />
					<span>Farms</span>
				</div>
				<div class="slider-item nav-link">
					<img
						src="https://a0.muscache.com/im/pictures/mediaverse/category_icon/original/3e5243c8-4d15-4c6b-97e3-7ba2bb7bb880.png"
						alt="Fil"
					/>
					<span>Icons</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/rooms.jpg" alt="Fil" />
					<span>Rooms</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/countryside.jpg" alt="Fil" />
					<span>Countryside</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/golfing.jpg" alt="Fil" />
					<span>Golfing</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/trending.jpg" alt="Fil" />
					<span>Trending</span>
				</div>
				<!-- Add more slider items as needed -->
				<div class="slider-item nav-link">
					<img src="./icon/amazing_pools.jpg" alt="Fil" />
					<span>Amazing pools</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/amazing_views.jpg" alt="Fil" />
					<span>Amazing views</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/cabins.jpg" alt="Fil" />
					<span>Cabins</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/treehouses.jpg" alt="Fil" />
					<span>Treehouses</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/OMG.jpg" alt="Fil" />
					<span>OMG!</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/beach.jpg" alt="Fil" />
					<span>Beach</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/historical-homes.jpg" alt="Fil" />
					<span>historical homes</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/mansions.jpg" alt="Fil" />
					<span>Mansions</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/domes.jpg" alt="Fil" />
					<span>Domes</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/parks.jpg" alt="Fil" />
					<span>Parks</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/castles.jpg" alt="Fil" />
					<span>Castles</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/lakefront.jpg" alt="Fil" />
					<span>Lakefront</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/tiny-homes.jpg" alt="Fil" />
					<span>Tiny homes</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/beachfront.jpg" alt="Fil" />
					<span>Beachfront</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/lake.jpg" alt="Fil" />
					<span>Lake</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/island.jpg" alt="Fil" />
					<span>Island</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/design.jpg" alt="Fil" />
					<span>Design</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/off-the-grid.jpg" alt="Fil" />
					<span>Off-the-grid</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/top-of-the-world.jpg" alt="Fil" />
					<span>Top of the world</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/bed&breakfasts.jpg" alt="Fil" />
					<span>Bed & Breakfasts</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/tropical.jpg" alt="Fil" />
					<span>Tropical</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/top-cities.jpg" alt="Fil" />
					<span>Top Cities</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/camping.jpg" alt="Fil" />
					<span>Camping</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/desert.jpg" alt="Fil" />
					<span>Deserts</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/caves.jpg" alt="Fil" />
					<span>Caves</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/a-frames.jpg" alt="Fil" />
					<span>A-frames</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/arctic.jpg" alt="Fil" />
					<span>Arctic</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/boats.jpg" alt="Fil" />
					<span>Boats</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/windmills.jpg" alt="Fil" />
					<span>Windmills</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/towers.jpg" alt="Fil" />
					<span>Towers</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/minsus.jpg" alt="Fil" />
					<span>Minsus</span>
				</div>
				<div class="slider-item nav-link">
					<img src="./icon/creative-spaces.jpg" alt="Fil" />
					<span>Creative spaces</span>
				</div>
			</div>
		</div>
		<button class="next-btn border border-1 shadow-sm z-2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="64"
				height="64"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M9 6l6 6l-6 6" />
			</svg>
		</button>
	</div>
	<button
		type="button"
		class="btn btn-light border border-1 border-dark-subtle rounded-4 filter-btn px-4 ms-auto"
		data-bs-toggle="modal"
		data-bs-target="#filtersModal"
	>
		<span><i class="fa-solid fa-sliders me-2"></i></span>
		<span>Filters</span>
	</button>
	<%- include("../includes/modalBox/filtersM.ejs") %>
	<div
		class="form-check form-switch form-check-reverse d-flex flex-row-reverse justify-content-center align-items-center border border-1 border-dark-subtle rounded-4 col-2 ms-auto"
	>
		<input class="form-check-input" type="checkbox" id="taxes" />
		<label class="form-check-label me-2" for="taxes"
			>Display total before taxest</label
		>
	</div>
</div>
