<footer>
	<div class="f-info">
		<div class="f-info-p1">
			<div>&copy; 2025 Airbnb, Inc.</div>
			<div class="f-links">
				<a href="#">Privacy</a>
				<a href="#">Terms</a>
				<a href="#">Sitemap</a>
				<a href="#">Company details</a>
			</div>
		</div>
		<div class="f-info-p2">
			<div class="f-info-toggle">
				<b>English (IN)</b>
				<b>₹ INR</b>
			</div>
			<div class="f-info-socials">
				<i class="fa-brands fa-square-facebook"></i>
				<i class="fa-brands fa-square-twitter"></i>
				<i class="fa-brands fa-square-instagram"></i>
			</div>
		</div>
	</div>
</footer>

<!-- 
English (IN)
Choose a currency
₹
INR
© 2025 Airbnb, Inc.
PrivacyTermsSitemapCompany details -->
