<!-- Search Bar 1 -->
<div
	class="container-fluid bg-light pb-4 d-md-block d-none search-bar border-bottom"
>
	<div
		class="btn-group col-lg-8 offset-lg-2 col-md-12 offset-0 border border-secondary-subtle rounded-pill shadow-sm active"
		role="group"
	>
		<button type="button" class="btn btn-outline-secondary rounded-pill">
			<div class="px-3 py-1 search-content d-block">
				<p class="m-0 text-black search-title">Where</p>
				<p class="m-0 text-secondary">Search destinations</p>
			</div>
		</button>
		<div class="">
			<span class="border border-1 border-right py-2" id="divider"></span>

			<button
				type="button"
				class="btn btn-outline-secondary rounded-pill h-100"
			>
				<div class="px-3 py-1 search-content">
					<p class="m-0 text-black search-title">Check in</p>
					<p class="m-0 text-secondary">Add dates</p>
				</div>
			</button>
			<span class="border border-1 border-right py-2" id="divider"></span>
			<button
				type="button"
				class="btn btn-outline-secondary rounded-pill h-100"
			>
				<div class="px-3 py-1 search-content">
					<p class="m-0 text-black search-title">Check out</p>
					<p class="m-0 text-secondary">Add dates</p>
				</div>
			</button>
			<span class="border border-1 border-right py-2" id="divider"></span>
		</div>

		<button
			type="button"
			class="btn btn-outline-secondary rounded-pill col-2 d-flex justify-content-between flex-row pe-2 py-2"
		>
			<div class="px-3 py-1 search-content">
				<p class="m-0 text-black search-title">Who</p>
				<p class="m-0 text-secondary">Add guests</p>
			</div>
			<a class="btn btn-danger btn-lg rounded-circle search-icon"
				><i class="fa-solid fa-magnifying-glass"></i>
			</a>
		</button>
	</div>
</div>
<!-- SB 1 End -->

<script src="../js/searchBar.js"></script>
