<!-- Modal -->
<div
	class="modal fade"
	id="reviews-modal"
	data-bs-keyboard="true"
	tabindex="-1"
	aria-labelledby="Reviews Modal"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
	>
		<div class="modal-content rounded-4">
			<div class="modal-header border-0 d-block">
				<button
					type="button"
					class="btn-close s-desc-close-btn pt-3 m-0"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body s-desc px-4 pt-0">
				<div class="py-4">
					<h4 class="modal-title mb-3 fw-bold" id="staticBackdropLabel">
						Num of reviews
					</h4>
					<% const popMsg = `
					<div>
						<p>
							Reviews from past guests help our community learn more about each
							home. By default, reviews are sorted by recency.
						</p>
						<p>
							Only the guest who made the reservation can leave a review, and
							Airbnb only moderates reviews flagged for not following our
							policies.
						</p>
						<p>
							To be eligible for a percentile ranking or guest favourite
							label,listings need 5 or more recent reviews. Criteria is subject
							to change.
						</p>
					</div>
					` %>
					<a
						tabindex="0"
						class="link-secondary"
						role="button"
						data-bs-toggle="popover"
						data-bs-trigger="focus"
						data-bs-title="Dismissible popover"
						data-bs-content="${popMsg}"
						>Learn how reviews work
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
