<!-- Modal -->
<div
	class="modal fade"
	id="description-modal"
	data-bs-keyboard="true"
	tabindex="-1"
	aria-labelledby="Description Modal"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
	>
		<div class="modal-content rounded-4">
			<div class="modal-header border-0 d-block">
				<button
					type="button"
					class="btn-close s-desc-close-btn pt-3 m-0"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body s-desc px-4">
				<h3 class="modal-title mb-3 fw-bold" id="staticBackdropLabel">
					About this space
				</h3>
				<p>
					★ You’ll be taken care of by one of the most successful Airbnb hosts
					in the country.<br />
					★ The treehouse is nestled in the Himalayan subtropical pine forests.
					It is made keeping in mind to provide a comfortable and memorable stay
					to travelers seeking a break from the hustle of city life. The house
					is cozy both in winter and summer. It has a 360-degree view of the
					greater Himalayas.<br />
					★ We have the best food in the Jibhi and the best view in the town.
					<br />
				</p>
				<p>
					The space <br />
					★ Our cottage is located in the beautiful Tandi village of Banjar
					Valley offering a 360 degrees view of the mighty Himalayas.<br />
					★ We have designed our cottages without disturbing the pine forests
					and made them an integral part of our interiors.<br />
					★ You will experience the warmth of Himachali culture and hospitality
					here. <br />
					★ Designed with much love and care, we accommodate 1 double bedroom
					and an attic with double and single beds. <br />
					★ Enjoy delicious home-cooked Himachali-style food, and spend the
					nights under the starry skies. We provide food as per guests' requests
					too.
					<br />
					★We also provide Day hikes to the nearby forest.
				</p>
				<p>
					Guest access <br />
					★The cottage, the lawn around it. <br />
					★Guests are free to walk around in the forests nearby, and the fields
					nearby, so long as they don't step on the crops. <br />
					★Fully equipped personal kitchen Other things to note
					<br />
					★ There's wifi connectivity and a dedicated workspace in the rooms so
					even your work-ation won't suffer. <br />
					★ We get good connectivity of Airtel/Jio/BSNL up here. <br />
					★ We can arrange day trips or hikes on guests’ requests. <br />
					★NO loud music after 8 pm. <br />
					★Bonfire can be arranged at nominal charges. <br />
					★Heaters are available for an additional charge of Rs. 500.
				</p>
			</div>
		</div>
	</div>
</div>
