.slider-container {
	display: flex;
	align-items: center;
	position: relative;

	/* background-color: black; */
}

.prev-btn,
.next-btn {
	background-color: white;
	color: black;
	padding: 10px;
	cursor: pointer;
	/* font-size: 28px; */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev-btn {
	left: -20px;
}

.next-btn {
	right: -20px;
}

.slider-wrapper {
	mask-image: radial-gradient(circle, black 10%, black 75%, transparent);
	overflow: hidden;
	/* width: max-content; Adjust width as needed */
	margin: 0 10px;
}

.slider {
	display: flex;
	justify-content: space-around;
	transition: transform 0.3s ease;

	/* mask-image: none; */
}

.slider-item {
	padding-bottom: 3rem;
	height: 3.5rem;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 8px;
	opacity: 0.5;
	transform: scale(1); /* Default scale */
	transition: transform 0.1s ease, opacity 0.1s ease-in-out;

	&:hover,
	&.active {
		scale: 1.01;
		opacity: 0.9;
		font-weight: 300;
	}
}

.slider .nav-link:hover {
	background-color: #fff;
}

.slider-item img {
	width: 24px; /* Adjust icon size */
	height: 24px;
	object-fit: cover;

	/* Space between image and text */
}

.slider-item span {
	font-size: 13px;
	color: #333;
	min-width: max-content;
	width: 4rem;
	text-align: center;
	font-weight: 600;
}

.prev-btn:disabled,
.next-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
