.filters-bar {
	position: sticky;
	top: 80px;
	z-index: 7;
	background-color: rgb(248, 249, 250);
}

.slider-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	max-width: 70rem;
	/* background-color: black; */
}

.prev-btn,
.next-btn {
	background-color: white;
	color: black;
	padding: 10px;
	cursor: pointer;
	/* font-size: 28px; */
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.prev-btn {
	left: -0px;
}

.next-btn {
	right: -0px;
}

.slider-wrapper {
	overflow: hidden;
	/* width: max-content; Adjust width as needed */
	margin: 0 10px;
}

.slider {
	display: flex;
	justify-content: space-around;
	transition: transform 0.3s ease;

	/* mask-image: none; */
}

.slider-item {
	padding-bottom: 3rem;
	height: 3.5rem;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 6px;
	opacity: 0.6;
	transform: scale(1); /* Default scale */
	transition: transform 0.1s ease, opacity 0.1s ease-in-out;

	&:hover,
	&.active {
		scale: 1.01;
		opacity: 0.9;
		font-weight: 300;
	}
}

.slider .nav-link:hover {
	background-color: #fff;
}

.slider-item img {
	width: 24px; /* Adjust icon size */
	height: 24px;
	object-fit: cover;

	/* Space between image and text */
}

.slider-item span {
	font-size: 13px;
	color: #333;
	min-width: max-content;
	width: 4rem;
	text-align: center;
	font-weight: 600;
}

.prev-btn:disabled,
.next-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.form-check-reverse label,
.filter-btn span {
	font-size: 0.8rem;
	font-weight: 600;
}

.filter-btn:hover,
.tax-check:hover {
	background-color: #fff;
	border: 0.2px solid #1a1919 !important;
}

.form-check-input {
	height: 1.5rem;
}

.form-switch .form-check-input {
	--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%23fff'/%3e%3c/svg%3e");
	background-image: var(--bs-form-switch-bg);
	background-color: #b0b0b0;
	width: 2.5rem;
}

.form-switch .form-check-input:checked {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M256%2048a208%20208%200%201%201%200%20416%20208%20208%200%201%201%200-416zm0%20464A256%20256%200%201%200%20256%200a256%20256%200%201%200%200%20512zM369%20209c9.4-9.4%209.4-24.6%200-33.9s-24.6-9.4-33.9%200l-111%20111-47-47c-9.4-9.4-24.6-9.4-33.9%200s-9.4%2024.6%200%2033.9l64%2064c9.4%209.4%2024.6%209.4%2033.9%200L369%20209z%22%2F%3E%3C%2Fsvg%3E");
	background-color: #1a1919;
	border-color: #b0b0b0;
}

.form-switch .form-check-input:focus {
	--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%23fff'/%3e%3c/svg%3e");
	background-image: var(--bs-form-switch-bg);
	border-color: #b0b0b0;
	outline: none;
	box-shadow: none;
}

.form-switch .form-check-input:hover {
	background-color: #1a1919;
}

.price-tax {
	display: none;
}

/* 
.fade-fil {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 50px;
	background: linear-gradient(
		to right,
		rgba(26, 24, 24, 0.905),
		rgba(255, 255, 255, 0.958),
		transparent
	);
}

.fade-right {
	right: 0;
	transform: rotateY(180deg);
} */
