* {
	font-family: "Plus Jakarta Sans", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 0.93rem;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container-fluid {
	padding-inline: 40px;
}

/* NAVBAR - includes/navbar.ejs */

nav {
	height: 5rem;
}

.nav-link {
	color: black;
}

/* CARDS - listings/index.js */

.card {
	border: none;
	text-decoration: none;
	color: #222222;
	/* margin-bottom: 2rem; */
	/* height: 24.2rem; */
}

.card:hover {
	text-decoration: none;
	color: #222222;
}

.card .card-img-top {
	border-radius: 0.8rem;
	height: 17.8rem;
	object-fit: cover;
}

.card-body {
	height: 5rem;
	font-size: 0.85rem;
}

.card-title {
	font-weight: 600;
}

.card-text {
	margin: 0.6rem 0 0 0;
	line-height: 1.4rem;
}

.price {
	font-weight: 700;
}

/* FOOTER - includes/footer.ejs */

footer {
	font-size: 0.9rem;
}

footer a,
span {
	text-decoration: none;
	color: black;
}

footer a:hover,
.f-info-toggle span:hover {
	text-decoration: underline;
	color: black;
}

footer .f-info-p1 ul li {
	padding-left: 0.8rem;
}

.f-info-toggle span {
	font-weight: 600;
}

.show-img {
	height: 22rem;
}

/* Mapbox */
#map {
	height: 25rem;
}

.mapboxgl-popup-content {
	width: 20rem;
	padding: 1.2rem;
	text-align: center;
	border-radius: 0.6rem;
}

.marker-container {
	position: relative;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background-color: #ff385c;
	cursor: pointer;
	perspective: 1000px; /* Required for 3D effect */
}

/* Faint circle */
.marker-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px; /* Adjust the size of the circle */
	height: 100px;
	border-radius: 50%;
	background-color: rgba(255, 0, 0, 0.138); /* Faint red color */
	pointer-events: none; /* Ensures it doesn’t block clicks */
	z-index: 0; /* Keeps the circle behind the marker */
}

.marker-side {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden; /* Hides back side when not visible */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1); /* Smooth and slower animation */
}

.front {
	z-index: 2;
}

.back {
	transform: rotateY(180deg);
}

.back svg {
	font-weight: 800;
}

.marker-container:hover .front {
	transform: rotateY(180deg); /* Flips front out of view */
}

.marker-container:hover .back {
	transform: rotateY(0deg); /* Flips back into view */
}
.marker-side svg {
	width: 22px;
	height: 22px;
	color: white;
	fill: white; /* Ensures consistent color contrast */
}
