* {
	font-family: "Plus Jakarta Sans", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 0.93rem;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container-fluid {
	padding-inline: 40px;
}

/* NAVBAR - includes/navbar.ejs */

nav {
	height: 5rem;
}

.nav-link {
	color: black;
}

/* CARDS - listings/index.js */

.card {
	border: none;
	text-decoration: none;
	color: #222222;
	/* margin-bottom: 2rem; */
	/* height: 24.2rem; */
}

.card:hover {
	text-decoration: none;
	color: #222222;
}

.card .card-img-top {
	border-radius: 0.8rem;
	height: 18.85rem;
	object-fit: cover;
}

.card-body {
	height: 5rem;
	font-size: 0.85rem;
}

.card-title {
	font-weight: 600;
}

.card-text {
	margin: 0.6rem 0 0 0;
	line-height: 1.4rem;
}

.price {
	font-weight: 700;
}

/* FOOTER - includes/footer.ejs */

footer {
	font-size: 0.9rem;
}

footer a,
span {
	text-decoration: none;
	color: black;
}

footer a:hover,
.f-info-toggle span:hover {
	text-decoration: underline;
	color: black;
}

footer .f-info-p1 ul li {
	padding-left: 0.8rem;
}

.f-info-toggle span {
	font-weight: 600;
}

.show-img {
	height: 22rem;
}
