<% layout("/layouts/boilerplate") %>

<div class="invisible" style="height: 20vh">Spacing</div>
<div class="row col-lg-4 col-md-8 col-sm-8 offset-lg-4 offset-md-2 offset-sm-2">
	<h4 class="mb-5">Log in</h4>
	<form action="/login" method="POST" class="needs-validation" novalidate>
		<div class="mb-4">
			<label for="username" class="form-label">Username: </label>
			<input
				type="text"
				name="username"
				id="username"
				class="form-control"
				autocomplete="off"
				required
			/>
			<div class="valid-feedback">Looks good!</div>
		</div>

		<div class="mb-4">
			<label for="password" class="form-label">Password: </label>
			<input
				type="password"
				name="password"
				id="password"
				class="form-control"
				required
			/>
		</div>
		<button type="submit" class="btn btn-success col-md-2 mt-2">Login</button>
	</form>
</div>
