<% layout("/layouts/boilerplate") %>

<div class="invisible">Spacing</div>
<div class="row col-lg-8 col-md-10 offset-md-1 offset-lg-2">
	<h4>SignUp</h4>
	<form action="/signup" method="POST" class="needs-validation" novalidate>
		<div class="mb-3">
			<label for="username" class="form-label">Username: </label>
			<input
				type="text"
				name="username"
				id="username"
				class="form-control"
				`
				required
			/>
			<div class="valid-feedback">Looks good!</div>
		</div>

		<div class="mb-3">
			<label for="email" class="form-label">Email: </label>
			<input
				type="email"
				name="email"
				id="email"
				class="form-control"
				required
			/>
		</div>

		<div class="mb-3">
			<label for="password" class="form-label">Password: </label>
			<input
				type="password"
				name="password"
				id="password"
				class="form-control"
				required
			/>
		</div>
		<button type="submit" class="btn btn-success col-md-2 mt-2">Sign Up</button>
	</form>
</div>
